name: Make PDF 6 parallel
# no apt update included

on:
  workflow_dispatch:

jobs:
  make:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        part: [hpmor-1, hpmor-2, hpmor-3, hpmor-4, hpmor-5, hpmor-6]
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
          fetch-depth: 1 # latest only

      - name: Cache LaTeX files
        uses: actions/cache@v4
        with:
          path: |
            chapters/*.aux
            hpmor*.aux
            hpmor*.fdb_latexmk
            hpmor*.fls
            hpmor*.out
            hpmor*.pdf
            hpmor*.toc
            hpmor*.xdv
          key: latex-build-files

      - name: Speed up apt-get steps
        uses: abbbi/github-actions-tune@v1

      - name: Install PDF requirements
        run: |
          sudo apt-get update > /dev/null
          sh scripts/install_requirements_pdf.sh > /dev/null

      - name: Make PDF
        run: latexmk ${{ matrix.part }} > /dev/null

      - name: Publish PDF to release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: WorkInProgress
          prerelease: false
          files: ${{ matrix.part }}.pdf

      - name: Upload log as artifact
        uses: actions/upload-artifact@v4
        with:
          name: "${{ matrix.part }}.log"
          path: "${{ matrix.part }}.log"
